<div class="container">
	<div class="jumbotron">
		<div class="directory-contents">
			<h1><strong>Directory</strong></h1>
			<h3>Main:</h3>
			<ul>
			<li><p><%= link_to "Home", root_path %></p></li>
			<li><p><%= link_to "About Us", about_path %></p></li>
			<li><p><%= link_to "Services", services_path %></p></li>
			<li><p><%= link_to "Contact Us", contact_path %></p></li>
			</ul>
			<h3>Products:</h3>
			<ul>
			<li><p><%= link_to "Ecuador", ecuador_path %></p></li>
			<li><p><%= link_to "Colombia", colombia_path %></p></li>
			<li><p><%= link_to "Nicaragua", nicaragua_path %></p></li>
			<li><p><%= link_to "Guatemala", guatemala_path %></p></li>
			<li><p><%= link_to "Costa Rica", costarica_path %></p></li>
			</ul>
			<h3>Corporate:</h3>
			<ul>
			<li><p><%= link_to "Terms & Conditions", terms_path %></p></li>
			<li><p><%= link_to "Privacy Policy", privacy_path %></p></li>
			</ul>
		</div>
	</div>
</div>