<div class="container">
	<div class="jumbotron">
		<div class="ecuador-contents">
			<h1><strong>Ecuador Products</strong></h1>
			<div class="ecuador-products">
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-8">
						<h2><strong>Plantains</strong></h2>
						<p>Where better to buy Plantains than Plantains.com?</p>
						<h3>Variety:</h3>
						<p>Barraganete-Macho</p>
						<h3>Availability:</h3>
						<p>January to December</p>
						<h3>Packaging:</h3>
						<p>60-70 units per box (22.70 Kilos per box)</p>
						<p>1 CONTAINER = 1,080 boxes = 20 pallets with 54 boxes per pallet</p>
						<p><%= link_to "Click here for Plantain nutritional facts...", plantains_path %></p>
					</div>
					<div class="col-6 col-lg-4">
						<%= image_tag("photos/hanging-plantains3.jpg", class: "ecuador-photo") %>
					</div>
				</div>
				</div>

			<div class="ecuador-products">
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-8">
						<h2><strong>Malanga</strong></h2>
						<h3>Variety:</h3>
						<p>Blanca/Lila</p>
						<h3>Availability:</h3>
						<p>January to December</p>
						<h3>Packaging:</h3>
						<p>1 CONTAINER = 1200/1300 boxes = 20 pallets with 60/65 boxes per pallet</p>
						<p><%= link_to "Click here for Malanga nutritional facts...", plantains_path %></p>
					</div>
					<div class="col-6 col-lg-4">
						<%= image_tag("photos/ecuador.jpg", class: "ecuador-photo") %>
					</div>
				</div>
			</div>
			<div class="ecuador-products">
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-8">
						<h2><strong>Mangos</strong></h2>
						<h3>Variety:</h3>
						<p>Tommy Atkins, Kent, Haden, Keiit, Ataulfo</p>
						<h3>Sizes:</h3>
						<p>6, 7, 8, 9, 10, 12, 14, 16, 18, 20, 22</p>
						<h3>Packaging by Sea:</h3>
						<p>Corrugated Boxes of 4 NET KGS 1 CCONTAINER 40 = 5,280 Boxes 4 NET KGS</p>
						<h3>Packaging by Air:</h3>
						<p>January, October, November and December</p>
						<p><%= link_to "Click here for Mango nutritional facts...", plantains_path %></p>
					</div>
					<div class="col-6 col-lg-4">
						<%= image_tag("photos/ecuador.jpg", class: "ecuador-photo") %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>