<div class="container">
	<div class="jumbotron">
		<div class="ecuador-contents">
			<h1 id="top"><strong>Ecuador Products</strong></h1>
			<p id="top_P"><a href="#plantains">Plantains</a> • <a href="#bananas">Bananas</a> • <a href="#malanga">Malanga</a> • <a href="#mangos">Mangos</a></p>
			<div class="ecuador-products">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-sm-6 col-lg-8">
							<h2 id="plantains"><strong>Plantains</strong></h2>
							<p>Ecuador has an important role among the main importers of plantains in the world. United States is the main destination of the Ecuadorian plantain exports.</p> 
							<p>Where better to buy and sell Plantains than through Plantains.com?</p>
							<h3>Variety:</h3>
							<p>Barraganete-Macho</p>
							<h3>Availability:</h3>
							<p>January to December</p>
							<h3>Packaging:</h3>
							<p>60-70 units per box (22.70 Kilos per box)</p>
							<p>1 CONTAINER = 1,080 boxes = 20 pallets with 54 boxes per pallet</p>
							<p><%= link_to "Click here to contact us...", contact_path %></p>
							<p><%= link_to "Click here for Plantain nutritional facts...", plantains_path %></p>
							<p><a href="#top">Back to top</a></p>
						</div>
						<div class="col-md-4 col-sm-6 col-lg-4">
							<%= image_tag("photos/hanging-plantains3.jpg", class: "ecuador-product-photo") %>
						</div>
					</div>
				</div>
				</div>

				<div class="ecuador-products">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-6 col-lg-8">
							<h2 id="bananas"><strong>Bananas</strong></h2>
							<p>Bananas are one of the most widely consumed fruits in the world for good reason. Eating them could help lower blood pressure and reduce the risks of cancer and asthma.</p> 
							<p>Today, bananas are grown in at least 107 countries and are ranked fourth among the world's food crops in monetary value. Americans consume more bananas than apples and oranges combined. With the world consuming so many bananas, it's not surprising that people are asking the question: are bananas good for you?</p>
							<h3>Variety:</h3>
							<p>Cavendish</p>
							<h3>Availability:</h3>
							<p>January to December</p>
							<h3>Packaging:</h3>
							<p>Boxes 22XU, 1080 BXS in Palletized Container</p>
							<p><%= link_to "Click here to contact us...", contact_path %></p>
							<p><%= link_to "Click here for Banana nutritional facts...", bananas_path %></p>
							<p><a href="#top">Back to top</a></p>
						</div>
						<div class="col-md-4 col-sm-6 col-lg-4">
							<%= image_tag("photos/bananas.jpg", class: "ecuador-product-photo") %>
						</div>
					</div>
				</div>
			</div>

			<div class="ecuador-products">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-6 col-lg-8">
							<h2 id="malanga"><strong>Malanga</strong></h2>
							<p>Malanga is a root that grows in tropical areas of Ecuador. With it's unique flavor, it is one of the most easily digestible of carbohydrates. It is also known as Yautia, Taro, and Quequisque.</p>
							<h3>Variety:</h3>
							<p>Blanca/Lila</p>
							<h3>Availability:</h3>
							<p>January to December</p>
							<h3>Packaging:</h3>
							<p>1 CONTAINER = 1200/1300 boxes = 20 pallets with 60/65 boxes per pallet</p>
							<p><%= link_to "Click here to contact us...", contact_path %></p>
							<p><%= link_to "Click here for Malanga nutritional facts...", malanga_path %></p>
							<p><a href="#top">Back to top</a></p>
						</div>
						<div class="col-md-4 col-sm-6 col-lg-4">
							<%= image_tag("photos/malanga.jpg", class: "ecuador-product-photo") %>
						</div>
					</div>
				</div>
			</div>
			<div class="ecuador-products">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-6 col-lg-8">
							<h2 id="mangos"><strong>Mangos</strong></h2>
							<p>Mangos are grown in tropical climates all over the world. The Mangos that are bought in the United States are predominately from Mexico, Ecuador, Peru, Brasil, Guatemala, and Haiti. Foruntately for us, these countries harvest their Mango cropes at different times of the year, which means we get to enjoy Mangos all year around.</p>
							<h3>Variety:</h3>
							<p>Tommy Atkins, Kent, Haden, Keiit, Ataulfo</p>
							<h3>Sizes:</h3>
							<p>6, 7, 8, 9, 10, 12, 14, 16, 18, 20, 22</p>
							<h3>Packaging by Sea:</h3>
							<p>Corrugated Boxes of 4 NET KGS 1 CONTAINER 40 = 5,280 Boxes 4 NET KGS</p>
							<h3>Packaging by Air:</h3>
							<p>Corrugated Boxes of 6 NET KGS</p>
							<h3>Availability:</h3>
							<p>January, October, November and December</p>
							<p><%= link_to "Click here to contact us...", contact_path %></p>
							<p><%= link_to "Click here for Mango nutritional facts...", mangos_path %></p>
							<p><a href="#top">Back to top</a></p>
						</div>
						<div class="col-md-4 col-sm-6 col-lg-4">
							<%= image_tag("photos/mangos.jpg", class: "ecuador-product-photo") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>