<div class="home-index main-body" id="main-content">
	<div id="banner">
			<%= image_tag("photos/container-ship2.jpg", class: "home-bg") %>
	</div> <%# hero %>
	<div class="container">
		<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
		    <h1 class="text-center">Connecting Growers, Suppliers and Distributors</h1>
		      <ul class="list-inline text-center">
		          <li>Your #1 Resource for everything Plantains</li>
		      </ul>
		  </div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- home-index main-body main-content -->

<div class="home-row">
	<div class="buyers">
		<div class="container">
			<div class="col-xs-12 col-sm-6 ol-lg-8">
				<h2><strong>Connect with Plantain Buyers</strong></h2>
					<p>Are you looking for someone to buy your Plantains? We will connect you with Buyers specific to your market and location needs.</p>
					<p>We understand how hard it is find credible and reliable clients. We will help you eliminiate mistakes that may cost your company money.</p>
					<p><%= link_to "Contact us!", contact_path %></p>
			</div>
			<div class="ccol-xs-12 col-sm-6 ol-lg-8">
				<div class="buyers-photo">
					<%= image_tag("photos/vacuum-peeled.jpg", class: "buyers-photo") %>
				</div>
			</div>
		</div><!-- container -->
	</div><!-- buyers -->
</div><!-- home-row -->

<div class="home-row">
	<div class="sellers">
		<div class="container">
			<div class="col-xs-12 col-sm-6 ol-lg-8">
				<div class="sellers-photo">
					<%= image_tag("photos/quality-plantains.jpg", class: "sellers-photo") %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 ol-lg-8">
				<h2><strong>Connect with Plantain Sellers</strong></h2>
					<p>Are you looking for someone who sells Plantains? We will connect you with suppliers from South and Central America to suit your needs.</p>
					<p>We understand how hard it is to find credible and reliable growers. Let us fascilitate a smooth transaction for you.</p>
					<p><%= link_to "Contact us!", contact_path %></p>
			</div>
		</div><!-- container -->
	</div><!-- sellers -->
</div><!-- home-row -->

<div class="home-row-last">
	<div class="established">
		<div class="container">
			<div class="established-content">
				<h1><strong>Let us be your eyes... And help eliminate mistakes that may cost you.</strong></h1>
				<h2>What we do:</h2>
				<h3>Connect the grower and the distributor.</h3>
				<h3>Provide the necessary tools to commercialize your products and reach your targeted client base (Storage of your products at the right temperature, product inspection, etc.</h3>
				<h3>Protect you against unfair business practices through PACA.</h3>
				<h3>Offer valuable technical information needed to properly pack and market your products.</h3>
				<h3>Assist with legal representation for any import/export transaction.</h3>
				<h3><strong>Sell your product.</strong></h3>

			</div>
		</div><!-- container -->
	</div><!-- established -->
</div><!-- home-row -->








