<div class="home-index main-body" id="main-content">
	<div id="banner">
			<%= image_tag("photos/container-ship.jpg", class: "home-bg") %>
	</div> <%# banner %>
	<div class="container">
		<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
		    <h1 class="text-center">Connecting Growers, Suppliers and Distributors</h1>
		      <ul class="list-inline text-center">
		          <li>Your #1 Resource for everything Plantains and more!</li>
		      </ul>
		 </div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- home-index main-body main-content -->

<div class="home-row">
	<div class="buyers">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 ol-lg-8">
					<h2><strong>Connect with Plantain Buyers</strong></h2>
						<p>Are you looking for someone to buy your Plantains? We will connect you with Buyers specific to your market and location needs.</p>
						<p>We understand how hard it is to find credible and reliable clients. We will help you eliminiate mistakes that may cost your company money.</p>
						<p><%= link_to "Click here if you're an interested buyer!", contact_path %></p>
				</div>
				<div class="col-xs-12 col-sm-6 ol-lg-8">
					<div class="buyers-photo">
						<%= image_tag("photos/vacuum-peeled.jpg", class: "buyers-photo") %>
					</div>
				</div>
			</div>
		</div><!-- container -->
	</div><!-- buyers -->
</div><!-- home-row -->

<div class="home-row">
	<div class="sellers">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 ol-lg-8">
					<div class="sellers-photo">
						<%= image_tag("photos/quality-plantains.jpg", class: "sellers-photo") %>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 ol-lg-8">
					<h2><strong>Connect with Plantain Sellers</strong></h2>
						<p>Are you looking for someone who sells Plantains? We will connect you with suppliers from South and Central America to suit your needs.</p>
						<p>We understand how hard it is to find credible and reliable growers. Let us fascilitate a smooth transaction for you.</p>
						<p><%= link_to "Click here if you're an interested seller!", contact_path %></p>
				</div>
			</div>
		</div><!-- container -->
	</div><!-- sellers -->
</div><!-- home-row -->

<div class="home-row-last">
	<div class="home-bottom">
		<div class="container">
			<div class="home-bottom-content">
				<h1><strong>What is a Plantain?</strong></h1>
				<p>Plantains are a member of the banana family. They are a starchy, low in sugar variety that is cooked before serving as it is unsuitable raw. It is used in many savory dishes somewhat like a potato would be used and is very popular in Western Africa and the Caribbean countries. It is usually fried or baked.</p>
				<p>Plantains are native to India and are grown most widely in tropical climates. Plantains are sometimes referred to as the pasta and potatoes of the Caribbean. Sold year round  in the fresh produce section of the supermarket, they usually resemble green bananas, but ripe plantains may be black in color. This vegetable-banana can be eaten and tastes different at every stage of development. The interior color of the fruit will remain creamy, yellowish or lightly pink. When the peel is green to yellow, the flavor of the flesh is bland and its texture is starchy. As the peel changes to brown or black, it has a sweeter flavor and more of a banana aroma, but still keeps a firm shape when cooked. </p>
				<p>The plantain averages about 65% moisture content and the banana averages about 83% moisture content. Since hydrolysis, the process by which starches are converted to sugars, acts fastest in fruit of higher moisture content it converts starches to sugars faster in bananas than it does in plantains. A banana is ready to eat when the skin is yellow whereas a plantain is not ready to eat "out of hand" until hydrolysis has progressed to the point where the skin is almost black.</p>
				<p>Many people confuse plantains with bananas. Although they look a lot like green bananas and are a close relative, plantains are very different they are longer than bananas and they have thicker skins. They are starchy, not sweet, and they are used as a vegetable in many recipes, especially in Latin America and Africa. Plantains are sold year round in the fresh produce section of the supermarket.</p>

			</div>
		</div><!-- container -->
	</div><!-- established -->
</div><!-- home-row -->








