<div class="home-index main-body" id="main-content">
	<div id="banner">
			<%= image_tag("photos/container-ship.jpg", class: "home-bg") %>
	</div> <%# hero %>
	<div class="container">
		<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
		    <h1 class="text-center">Connecting Growers, Suppliers and Distributors</h1>
		      <ul class="list-inline text-center">
		          <li>Your #1 Resource for everything Plantains</li>
		      </ul>
		 </div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- home-index main-body main-content -->

<div class="home-row">
	<div class="buyers">
		<div class="container">
			<div class="col-xs-12 col-sm-6 ol-lg-8">
				<h2><strong>Connect with Plantain Buyers</strong></h2>
					<p>Are you looking for someone to buy your Plantains? We will connect you with Buyers specific to your market and location needs.</p>
					<p>We understand how hard it is to find credible and reliable clients. We will help you eliminiate mistakes that may cost your company money.</p>
					<p><%= link_to "Contact us!", contact_path %></p>
			</div>
			<div class="ccol-xs-12 col-sm-6 ol-lg-8">
				<div class="buyers-photo">
					<%= image_tag("photos/vacuum-peeled.jpg", class: "buyers-photo") %>
				</div>
			</div>
		</div><!-- container -->
	</div><!-- buyers -->
</div><!-- home-row -->

<div class="home-row">
	<div class="sellers">
		<div class="container">
			<div class="col-xs-12 col-sm-6 ol-lg-8">
				<div class="sellers-photo">
					<%= image_tag("photos/quality-plantains.jpg", class: "sellers-photo") %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 ol-lg-8">
				<h2><strong>Connect with Plantain Sellers</strong></h2>
					<p>Are you looking for someone who sells Plantains? We will connect you with suppliers from South and Central America to suit your needs.</p>
					<p>We understand how hard it is to find credible and reliable growers. Let us fascilitate a smooth transaction for you.</p>
					<p><%= link_to "Contact us!", contact_path %></p>
			</div>
		</div><!-- container -->
	</div><!-- sellers -->
</div><!-- home-row -->

<div class="home-row-last">
	<div class="home-bottom">
		<div class="container">
			<div class="home-bottom-content">
				<h1><strong>Plantains (plænˈteɪn):</strong></h1>
				<p>The plantain is a tall plant (3–10 metres [10–33 feet]) with a conical false “trunk” formed by the leaf sheaths of its spirally arranged leaves, which are 1.5 to 3 m long and about 0.5 m wide. The fruit, which is green, is typically larger than the common banana. The botanical classification of plantains and bananas is so complicated that plantain is variously viewed as a subspecies of the banana, and the banana as a subspecies of plantain.</p>
				<p>The edible fruit of the plantain has more starch than the banana and is not eaten raw. Because plantain has a maximum of starch before it ripens. It may also be dried for later use in cooking or ground for use as a meal. 
				The plantain meal can be further refined to a flour.</p>
				<p>In many Subtropical regions of the Americas, Asia and Africa, Plantains are an important staple food, like potatoes are to us. They are not really a fruit, but a vegetable, and can not be eaten raw. Plantains can be enjoyed in three different stages of ripeness. Depending on their ripeness they may taste best when boiled, baked, roasted, deep fried or dessert.</p>
				<p>The plant is believed to have originated in Southeast Asia. Two groups of plantains are thought to have a common origin: the horn plantain and the French plantain. Both types grow in India, Africa, Egypt, and tropical America. The French plantains also occur in Indonesia and the islands of the Pacific.</p>

			</div>
		</div><!-- container -->
	</div><!-- established -->
</div><!-- home-row -->








