<div class="footer">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer-top" id="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h3> Plantains.com </h3>
                    <ul>
                        <li> <%= link_to "About", about_path %> </li>
                        <li> <%= link_to "Services", services_path %> </li>
                        <li> <%= link_to "Directory", directory_path %> </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h3> Contact Us </h3>
                    <ul class="mobile_margin">
                        <li> <%= link_to "Contact Us", contact_path %> </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h3> Legal </h3>
                    <ul>
                        <li> <%= link_to "Terms & Conditions", terms_path %> </li>
                        <li> <%= link_to "Privacy Policy", privacy_path %> </li>
                    </ul>
                </div>
            </div> <!--/.row--> 
        </div> <!--/.container--> 
    </div> <!--/.footer-->
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> © 2019 Plantains.com. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
</footer>
</div>