<!DOCTYPE html>
<html>
<head>
  <title>Plantains | Your #1 Resource for Everything Plantains!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Are you looking for someone to buy your Plantains? Are you looking to sell your Plantains? We will connect you with Plantain buyers, sellers, importers and exporters!">
</head>
<body>

	<%= render 'layouts/header' %>
<%= yield %>

</body>
	<%= render 'layouts/footer' %>
</html>
